.text-primary{
    color: #02C39A!important;
}
header i{
    color: #4e4d4d;
}
header i:hover{
    color: #02C39A;
}

nav{
    /* background-color: #02C39A; */ 
    /* background: linear-gradient(45deg, #02C39A, #02c399b7, #02C39A); */
}

nav ul.navbar-nav li:hover{
    background: linear-gradient(45deg, #02C39A, #02c399b7, #02C39A);
}
nav.navbar{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

nav a, a.navbar-brand{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    font-size: 24px;
}

/* Carousel  */
.main-slider img{
    max-height: 80vh!important;
}

/* Program Stylings */
.program{
    margin-bottom: 120px;
    margin-top: 120px;
}

.program .card img{
    height: 300px;
    opacity: .8;
}
.program .card:hover img{
    opacity: 1;
}

.program .card:hover .card{
    transform: scale(1.1);
}

.program .card:hover .card-body{
    color: white;
    background: linear-gradient(to left, #02c3999c, #02C39A); 
}

.program .card {
    margin-top: 32px;
    margin-bottom: 32px;
}

.pricing{
    /* background-image: url('../images/2.jpg'); */
    background: linear-gradient(45deg, #02c3997c, #02c3993b), url('../images/2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Timetable */
.timetable{
    padding-top: 80px;
    padding-bottom: 80px;
} 
.timetable p.title{
    background: linear-gradient(to left, #02c39975, #02C39A);
    color: #fdfdfd;
    padding: 16px 12px; 
    font-size: 24px;
    font-weight: 400;
}
.timetable img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}